<div class="home-container">
  
  <section class="hero-section">
    <div class="hero-overlay"></div> 
    <div class="hero-content">
      <h1 class="hero-title">BUSCA. ANALIZA. <span class="gold-text">DOMINA.</span></h1>
      
      <div class="main-search-box">
        <input type="text" placeholder="INTRODUCE EL NOMBRE DE UN INVOCADOR...">
        
        <div class="search-actions">
          <div class="region-select">
            <select>
              <option value="euw">REGIONAL</option>
              <option value="lan">LAN</option>
              <option value="las">LAS</option>
              <option value="na">NA</option>
              <option value="kr">KR</option>
            </select>
            <i class="fa-solid fa-chevron-down region-icon"></i>
          </div>
          <button type="button" class="btn-search">
            <i class="fa-solid fa-magnifying-glass"></i> Buscar
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="listado-section">
    <div class="listado-header">
      <h2 class="gold-text">Listado de Personajes</h2>
      <div class="divider"></div>
    </div>
    
    <div class="listado-contenido">

      @for(character of characters(); track character.id){
  <div class="character-card">
    <div class="feature-icon"><img src="{{character.thumbnailUrl}}"></div>
    <h3><a href="character/{{character.id}}">{{ character.name }}</a></h3>
    <p>{{character.title}}</p>
  </div>
}

    </div>
  </section>

</div>