<header class="lol-header">
  <div class="header-container">
    <div class="logo-container">
      <a href="#" class="lol-logo">
        <span class="gold-text">LEAGUE</span><span class="silver-text">STATS</span>
      </a>
    </div>

    <nav class="lol-nav">
      <ul>
        <li><a href="#" class="nav-link active">Inicio</a></li>
        <li><a href="/character-multiroles" class="nav-link">Campeones Multirol</a></li>
        <li><a href="/contact" class="nav-link">Contacto</a></li>
      </ul>
    </nav>

    <div class="header-actions">

    </div>
  </div>
</header>