<footer class="lol-footer">
  <div class="footer-top">
    <div class="footer-brand">
      <h3 class="gold-text">LEAGUE STATS</h3>
      <p>Tu portal de estadísticas y datos en tiempo real sobre League of Legends.</p>
    <div class="heroes-tanques">
    <a href="/character/tanks">Héroes con el rol de Tanque</a>
  </div>
    </div>
    <div class="footer-links">
      <h4>Enlaces útiles</h4>
      <ul>
        <li><a href="#">Documentación API</a></li>
        <li><a href="#">Estado del Servidor</a></li>
        <li><a href="#">Términos de Uso</a></li>
      </ul>
    </div>
    <div class="footer-socials">
      <h4>Síguenos</h4>
      <div class="social-icons">
        <a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fa-brands fa-discord"></i></a>
        <a href="#" target="_blank"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </div>
  
  <hr class="footer-divider">
  
  <div class="footer-bottom">
    <p>&copy; 2026 League Stats. Todos los derechos reservados.</p>
    <p class="riot-disclaimer">
      League Stats no está respaldado por Riot Games y no refleja los puntos de vista ni las opiniones de Riot Games o de cualquier otra persona involucrada oficialmente en la producción o gestión de las propiedades de League of Legends.
    </p>
  </div>
</footer>